@page "/survey/{surveyId}/question/Create"
@model BRIDGEWebApp.Pages.Survey.Question.CreateModel

@{
    ViewData["Title"] = "Create Question";
}

<h1>New Question</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Question.Text" class="control-label"></label>
                <input asp-for="Question.Text" class="form-control" />
                <span asp-validation-for="Question.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.QuestionType" class="control-label"></label>
                <select asp-for="Question.QuestionType" class="form-control" asp-items="(IEnumerable<SelectListItem>)@ViewData["QuestionTypeEnum"]"></select>
                <span asp-validation-for="Question.QuestionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.Order" class="control-label"></label>
                <input asp-for="Question.Order" class="form-control" />
                <span asp-validation-for="Question.Order" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Question.IsMandatory" /> 
                    @Html.DisplayNameFor(model => model.Question.IsMandatory)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Question.SurveySectionId" class="control-label"></label>
                <select asp-for="Question.SurveySectionId" class="form-control" asp-items="(IEnumerable<SelectListItem>)@ViewData["SurveySectionId"]"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-sm btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" asp-route-surveyId="@ViewData["SurveyId"]">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
