@page "/cohort/{id?}"
@model BRIDGEWebApp.Pages.Cohort.DetailsModel

@{
    ViewData["Title"] = "Cohort - " + Model.Cohort.Id;
}

<h1>Cohort @Model.Cohort.Id</h1>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cohort?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
<hr />
<h2>@Model.Cohort?.Name</h2>
<p>@Model.Cohort?.Description</p>



<div class="row">
    <div class="col-lg">
        <form asp-page-handler="toggleregistration" method="post">
            <button class="btn btn-primary">@if (Model.Cohort.IsRegistrationOpen) {
                    <span>Close Registration</span> } else { <span>Open Registration</span> }
            </button>
        </form>
    </div>
    
</div>

