@page "/cohort/{cohortId}/register"
@model BRIDGEWebApp.Pages.ParticipantRegisterModel
@{
}


<h1>Welcome to the B.R.I.D.G.E Program</h1>

<h2>Cohort</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Participant!.FirstName" class="control-label"></label>
                <input asp-for="Participant!.FirstName" class="form-control" />
                <span asp-validation-for="Participant.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participant!.LastName" class="control-label"></label>
                <input asp-for="Participant!.LastName" class="form-control" />
                <span asp-validation-for="Participant.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participant!.Email" class="control-label"></label>
                <input asp-for="Participant!.Email" class="form-control" />
                <span asp-validation-for="Participant.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participant!.PhoneNumber" class="control-label"></label>
                <input asp-for="Participant!.PhoneNumber" class="form-control" />
                <span asp-validation-for="Participant.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participant!.PIN" class="control-label"></label>
                <input asp-for="Participant!.PIN" class="form-control" />
                <span asp-validation-for="Participant.PIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participant!.PINRepeat" class="control-label"></label>
                <input asp-for="Participant!.PINRepeat" class="form-control" />
                <span asp-validation-for="Participant.PINRepeat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<