@page
@model BRIDGEWebApp.Pages.Survey.CreateModel

@{
    ViewData["Title"] = "Create Survey";
}

<h1>New Survey</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="name" asp-for="Survey.Name"></label>
                <input id="name" asp-for="Survey.Name" class="form-control" />
                <span asp-validation-for="Survey.Name" class="text-danger"></span>
            </div>
            <input type="submit" value="Create" class="btn btn-sm btn-success" />
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
