@page "/cohort/{cohortId}/{participantId}"
@model BRIDGEWebApp.Pages.ParticipantLoginModel
@{
}

<p>Enter a customer name:</p>

<form method="post">
    Name:
    <input asp-for="Participant!.FirstName" />
    <input asp-for="Participant!.LastName" />
    <input asp-for="Participant!.PIN" />
    <input type="submit" />
</form>