@page "/cohort/{cohortId}/participant/survey"
@model BRIDGEWebApp.Pages.Cohort.Participants.Survey.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

@*@foreach (var item in Model.Answer) {
       
}*@
