@page "/Cohort/{cohortId}/attendance/create"
@model BRIDGEWebApp.Pages.Attendance.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Attendance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Attendance.Name" class="control-label"></label>
                <input asp-for="Attendance.Name" class="form-control" />
                <span asp-validation-for="Attendance.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attendance.AttendanceDate" class="control-label"></label>
                <input asp-for="Attendance.AttendanceDate" class="form-control" />
                <span asp-validation-for="Attendance.AttendanceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attendance.CohortId" class="control-label"></label>
                <select asp-for="Attendance.CohortId" class="form-control" asp-items="ViewBag.Cohorts"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Attendance.IsActive" /> @Html.DisplayNameFor(model => model.Attendance.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
